<div class="max-w-screen-2xl mx-auto px-4 mt-32">
  <div
    class="flex flex-col items-center py-16 justify-center mt-20 rounded-2xl shadow-xl relative"
  >
    <img
      class="absolute inset-0 w-full h-full object-cover rounded-2xl"
      src="../images/cover.jpg"
      alt="cover image"
    />
    <div class="flex flex-col p-8 rounded-2xl items-center relative">
      <h1
        class="my-6 font-extrabold text-slate-100 text-6xl drop-shadow-[0_1.2px_12px_rgba(0,0,0,0.8)]"
      >
        Welcome to Hinotama Shop!
      </h1>
      <button
        class="bg-gradient-to-r from-rose-600 to-amber-600 font-semibold text-2xl text-slate-100 rounded-2xl px-8 py-4 border-transparent mt-8 drop-shadow-[0_1.2px_12px_rgba(0,0,0,0.4)]"
        routerLink="/shop"
      >
        Go to shop
      </button>
    </div>
  </div>
</div>
